.main-background {
   background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.col-sm-8 {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.col-sm-4 {
    font-family: $font-display;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#gallery-menu a {
    text-decoration: none;
   
}

#gallery-menu ul {
background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/apartment.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

//#gallery-menu li:hover,
//#gallery-menu li:visited {
//}
 .nav-item-gy {
    border-left:$color-primary-dark .2rem solid;
    border-right:$color-primary-dark .2rem solid;
}

#gallery-menu  .nav-item-gy:hover,
#gallery-menu  .nav-item-gy:visited {
    border-left:$color-primary-dark 2rem solid;
    border-right:none;
    transition:ease-in-out .8s;
    -webkit-transition:ease-in-out .8s;
    -moz-transition:ease-in-out .8s;
    -ms-transition:ease-in-out .8s;
    -o-transition:ease-in-out .8s;
}


//#gallery-menu ul 

#gallery-menu  a {
    color: $color-primary-dark-1;
}


#gallery-menu  a:hover {
    color: $color-header-firebrick;
}

#gallery-menu ul li {
    list-style: none;
    padding: 1rem 0;
}



#gallery-menu .active a {
    color: $color-grey-light-1; 
}

#gallery-menu .card-header {
    color: $color-grey-light-1; 
    font-size: 2rem;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}
#gallery-menu .card-header:hover {
    cursor: pointer;
}

#gallery-menu .card {
    border: none;
    padding: 0;
    margin: 1.2rem 0;
}

#gallery-menu .card-body {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border:none;
}

#mycarousel {
    padding-top:1rem;
    margin: 0;
}

.detals-image {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    border:none;
    margin-right: .5rem;
}

//=======================profile-pic Detalst ================
.profile-pic li {
    display: inline;
    font-size: 1.5rem;
    margin-right: 30px;
}

.profile-pic a:hover {
    color: $color-primary-dark-1;
}

.pro-name a {
    color: $color-primary-dark-2 !important;
    font-size: 1.1rem;
    text-decoration: underline;
}
.pro-name a:hover {
    text-decoration: underline !important;
}

.pro-cost {
    color: $color-primary;
    font-size: 1.5rem;
}

.pro-detalis {
    color: $color-grey-light-1; 
}


//================================== Gallery Detalst Catrgroies========================================
.text-gallery-heading {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.profile-gallery li {
    display: inline;
    font-size: 1.4rem;
    margin-right: 20px;
}


.profile-gallery {

    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url(../img/apartment.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: $color-grey-light-1;
}
.profile-gallery:hover,
.profile-gallery:visited {
     box-shadow:5px 10px 30px $color-primary-dark-2;
    cursor: pointer;
    transition: 0.5s;
   
}




.profile-gallery footer {
    box-shadow:5px 10px 30px $color-primary-dark-2;
    padding-top: 2rem;
}

profile-gallery .card-body {
     border: none;
    padding: 0;
    margin: 0;
}

//=========================================Funtieture-Gallery==================
#cite-ft {
    color: $color-primary-dark-2;
    text-decoration: underline;
    font-size: .7rem;
}

#cite-ftd {
    color: $color-primary-dark;
}

//======================================= Blog Post =================================

#col-blog-8 {
    color: card-profile-gallery;
    font-family: $font-display;
 }



 //========================== gallery-pictures===================================================

 #gallery-pictures {
background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/apartment.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed; 
 }

.card-header {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/apartment.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.gallary-store {
     background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/apartment.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.search-box {
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/apartment.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed; 
  color:$color-primary-dark-1;
}


/*====================StoreItems ===============================*/
.single-item {
 background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/apartment.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed; 
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.store-items h5 {
  color:$color-primary-dark-1;
    display: flex;
    justify-content: space-between;
    float: left;
    font-size: 14px !important;
}

#store-item-value {
    font-size: 18px !important;
    color:$color-header-firebrick; 
    
}


.card-body-col {
     -webkit-box-shadow: 0 10px 15px $color-primary-dark-1;
  box-shadow: 0 10px 5px $color-primary-dark-1;
}

.gallery-txt {
    font-size: 13px;
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.single-item {
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.store-img {
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.store-item-icon {
 font-size: 1.1rem;
 position: absolute;
 bottom: 0;
 right: 0;
 padding: 0.5rem;
 color:$color-header-firebrick;
 background:transparent;
 border-top-left-radius: 1rem;
 transition: all .9s ease-in-out;
 -webkit-transition: all .9s ease-in-out;
 -moz-transition: all .9s ease-in-out;
 -ms-transition: all .9s ease-in-out;
 -o-transition: all .9s ease-in-out;
 transform: translate(100%,100%);
 -webkit-transform: translate(100%,100%);
 -moz-transform: translate(100%,100%);
 -ms-transform: translate(100%,100%);
 -o-transform: translate(100%,100%);
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.store-item-icon:hover {
  color:$color-primary-dark-1;
}